<div class="container">
    <div class="min-h-screen flex items-center justify-center overflow-hidden">
        <div class="border-solid border-2 border-opacity-25 rounded p-5 md:w-1/2 shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)]">
            <div class="">
                <form class="" [formGroup]="formLogin">
                    <!-- Email -->
                    <div class="m-5 flex justify-center">
                        <mat-form-field class="md:w-2/3" appearance="outline">
                            <mat-label>Correo electrónico</mat-label>
                            <input type="email"  matInput formControlName="email" placeholder="Correo electrónico">
                            <mat-error *ngIf="controlarErrores('email', 'required')">Introduce una dirección de <strong>correo electrónico</strong></mat-error>
                        </mat-form-field>
                    </div>
                    <!-- Password -->
                    <div class="m-5 flex justify-center">
                        <mat-form-field class="md:w-2/3" appearance="outline">
                            <mat-label>Introduce tu contraseña</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="Introduce tu contraseña">
                            <mat-error *ngIf="controlarErrores('password', 'required')">Introduce tu <strong>contraseña</strong></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex justify-center">
                        <button type="submit" [disabled]="!formLogin.valid" class="p-2 bg-azul text-white md:w-1/2 rounded-full">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
