.animacionVideo{
    width: 22ch;
    animation: escritura 4.5s steps(30) infinite,
    cursor 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
}

.texto1{
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: white;
}

.texto2{
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    background: linear-gradient(to right, #2d84d4, #1a29fd);
    background-clip: text;
    color: transparent;
}

@keyframes escritura {
    from { width: 0; }
}

@keyframes cursor {
    50% { border-color: transparent; }
}