<div>
  <!-- Boton Filtros -->
  <div class="m-5">
    <button (click)="mostrarFiltros = !mostrarFiltros" class="bg-azul text-white px-4 py-2 rounded">{{ mostrarFiltros ? ('ocultar-filtros' | translate) : ('mostrar-filtros' | translate) }}</button>
  </div>
  
  <!-- Contenedor Filtros -->
  <div class="overflow-hidden transition-max-height duration-500 ease-in-out grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 m-6" [ngClass]="{ 'max-h-0': !mostrarFiltros, 'max-h-screen': mostrarFiltros }">
    <!-- Filtro Equipo -->
    <div>
      <label class="block mb-1 text-azul">{{'filtro-equipo' | translate}}</label>
      <select class="w-full border rounded p-2 border-azul text-azul" [(ngModel)]="filtroEquipo" (change)="aplicarFiltros()">
        <option value="">{{ 'todos_los_equipos' | translate }}</option>
        <option *ngFor="let equipo of equipos" [value]="equipo.ID">{{ equipo.nombre }}</option>
      </select>
    </div>
    <!-- Filtro Fecha -->
    <div>
      <label class="block mb-1 text-azul">{{'filtro-fecha' | translate}}</label>
      <input type="date" class="w-full border rounded p-2 border-azul text-azul" [(ngModel)]="flitroFecha" (change)="aplicarFiltros()">
    </div>
  </div>
  
  <!-- Contenedor Partidos -->
  <div class="grid grid-cols-1 scroll-smooth p-4">
    <!-- Titulo Partidos -->
    <div class="flex flex-col md:flex-row items-center gap-2 w-full px-4">
      <hr class="flex-1 border-azul hidden md:block">
      <h1 class="text-xl sm:text-2xl md:text-3xl font-extrabold text-azul text-center md:text-left">{{ 'partidos' | translate }}</h1>
      <hr class="flex-1 border-azul hidden md:block">
    </div>
    <hr class="w-full border-azul md:hidden">
    <!-- Contenedor Partidos -->
    <div class="grid grid-cols-[repeat(auto-fill,minmax(350px,1fr))] gap-10 p-5 mt-3">
      <div *ngFor="let partido of partidosPaginados" class="border border-opacity-25 rounded-2xl p-3 grid grid-rows-[1fr,auto,auto,auto] gap-2 h-full">
        <span class="text-center text-azul" *ngIf="partido.estado === 'programado' || partido.estado === 'programmed'"><mat-icon>timer</mat-icon></span>
        <span class="text-center text-red-500" *ngIf="partido.estado === 'enjuego' || partido.estado === 'Enjame'"><mat-icon>live_tv</mat-icon></span>
        <span class="text-center text-azul" *ngIf="partido.estado === 'finalizado' || partido.estado === 'finished'"><mat-icon>flag</mat-icon></span>
        <span class="text-center text-azul" *ngIf="partido.estado === 'suspendido' || partido.estado === 'suspended'"><mat-icon>cancel</mat-icon></span>
        <div class="flex justify-between items-center w-full">
          <div *ngIf="partido.equipos[0]" class="flex flex-col items-center w-32">
            <div class="w-24 h-24 flex items-center justify-center overflow-hidden rounded">
              <img class="object-contain w-full h-full" [src]="partido.equipos[0].escudo" alt="{{partido.equipos[0].nombre}}">
            </div>
            <p class="text-center mt-2 text-sm font-medium">{{partido.equipos[0].nombre}}</p>
          </div>
          <div class="w-16 h-16 flex items-center justify-center">
            <img src="assets/img/vs.png" alt="vs" class="w-full h-full object-contain">
          </div>
          <div *ngIf="partido.equipos[1]" class="flex flex-col items-center w-32">
            <div class="w-24 h-24 flex items-center justify-center overflow-hidden rounded">
              <img class="object-contain w-full h-full" [src]="partido.equipos[1].escudo" alt="{{partido.equipos[1].nombre}}">
            </div>
            <p class="text-center mt-2 text-sm font-medium">{{partido.equipos[1].nombre}}</p>
          </div>
        </div>
        <div *ngIf="partido.estado === 'finalizado' || partido.estado === 'finished' || partido.estado === 'enjuego' || partido.estado === 'Enjame'" class="text-center text-azul font-bold text-2xl">
          <span>{{partido.resultado}}</span>
        </div>
        <div class="bg-azul rounded p-2">
          <div *ngIf="partido.equipos[0]" class="flex flex-col items-center w-full mb-2">
            <div class="text-center text-white flex items-center justify-center gap-2">
              <mat-icon>stadium</mat-icon>
              <span>{{ partido.equipos[0].estadio }}</span>
            </div>
          </div>
          <div class="text-center text-white flex items-center justify-center gap-2 mb-2">
            <mat-icon>calendar_month</mat-icon>
            <span>{{ partido.fecha | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>                  
          <div class="text-center text-white flex items-center justify-center gap-2 mb-2">
            <mat-icon *ngIf="partido.clima === 'lluvia' || partido.clima === 'rain'">water_drop</mat-icon>
            <mat-icon *ngIf="partido.clima === 'soleado' || partido.clima === 'sunny'">wb_sunny</mat-icon>
            <mat-icon *ngIf="partido.clima === 'noche' || partido.clima === 'evening'">dark_mode</mat-icon>
            <mat-icon *ngIf="partido.clima === 'frio' || partido.clima === 'cold'">ac_unit</mat-icon>
            <span>{{ partido.clima.toUpperCase()}}</span>
          </div>
          <div *ngIf="partido.estado === 'finalizado' || partido.estado === 'finished' || partido.estado === 'enjuego' || partido.estado === 'Enjame'" class="text-center text-white flex items-center justify-center gap-2 mb-2">
            <mat-icon>person</mat-icon>
            <span>{{partido.asistencia}}</span>
          </div>
          <div *ngIf="partido.asistencia < partido.equipos[0].capacidad_estadio">
            <div *ngIf="partido.estado === 'programado' || partido.estado === 'programmed'"   class="text-center">
              <a (click)="comprarEntrada(partido.ID)" class="bg-white flex items-center justify-center p-1 rounded text-azul hover:bg-blue-200">
                <mat-icon>confirmation_number</mat-icon>
                <span>{{'comprar-entradas' | translate}}</span>
              </a>
            </div>
          </div>
          <div *ngIf="partido.asistencia == partido.equipos[0].capacidad_estadio">
            <div>
              <span class="bg-red-400 flex items-center justify-center p-1 rounded text-black border-2 border-red-600">{{'aforo-completo' | translate}}</span>
            </div>
          </div>
          <div *ngIf="partido.estado != 'programado' && partido.estado != 'programmed' && partido.estado !='suspendido' && partido.estado != 'suspended'" class="text-center">
            <a (click)="consultarPartido(partido.ID)" class="bg-white flex items-center justify-center p-1 rounded text-azul hover:bg-blue-200">
              <mat-icon>sports</mat-icon>
              <span>{{'consultar-partido' | translate}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Paginador -->
    <div class="flex justify-center items-center gap-2 mt-4">
      <button class="text-azul" (click)="cambiarPagina(1)" [disabled]="paginaActual == 1">
        <mat-icon fontIcon="keyboard_double_arrow_left"></mat-icon>
      </button>
      <button class="text-azul" (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual == 1">
        <mat-icon fontIcon="arrow_back_iost"></mat-icon>
      </button>

      <span class="text-azul">{{'pagina' | translate}} {{ paginaActual }} {{'de' | translate}} {{ totalPaginas }}</span>
  
      <button class="text-azul" (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual == totalPaginas">
        <mat-icon fontIcon="arrow_forward_iost"></mat-icon>
      </button>
      <button class="text-azul" (click)="cambiarPagina(totalPaginas)" [disabled]="paginaActual == totalPaginas">
        <mat-icon fontIcon="keyboard_double_arrow_right"></mat-icon>
      </button>
    </div>
  </div>
</div>
  
