<div class="container p-5">
  <div class="mb-8 text-center">
    <h1 class="text-2xl font-bold text-azul">{{'area-pedido' | translate}}</h1>
  </div>
  <table class="text-sm w-full text-black border-2 border-azul">
    <thead class="text-white uppercase bg-azul">
      <tr>
        <th scope="col" class="border-r-2 border-white px-6 py-3">{{'num-pedido' | translate}}</th>
        <th scope="col" class="border-r-2 border-white px-6 py-3">{{'fecha-pedido' | translate}}</th>
        <th scope="col" class="border-r-2 border-white px-6 py-3">{{'direccion' | translate}}</th>
        <th scope="col" class="border-r-2 border-white px-6 py-3">{{'poblacion' | translate}}</th>
        <th scope="col" class="border-r-2 border-white px-6 py-3">{{'codigo-postal' | translate}}</th>
        <th scope="col" class="border-r-2 border-white px-6 py-3">{{'estado' | translate}}</th>
        <th scope="col" class="px-6 py-3">{{"precio-total" | translate}}</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let pedido of pedidos" class="border border-azul">
        <td class="px-6 py-4">{{pedido.ID}}</td>
        <td class="px-6 py-4">{{pedido.fecha | date:'dd/MM/yyyy'}}</td>
        <td class="px-6 py-4">{{pedido.direccion}}</td>
        <td class="px-6 py-4">{{pedido.poblacion}}</td>
        <td class="px-6 py-4">{{pedido.codigo_postal}}</td>
        <td class="px-6 py-4 uppercase" [ngClass]="{
          'bg-green-200': pedido.estado === 'pagado' || pedido.estado === 'paid',
          'bg-red-200': pedido.estado === 'cancelado' || pedido.estado === 'canceled',
          'bg-blue-200': pedido.estado === 'pendiente' || pedido.estado === 'earring'}">
          {{pedido.estado}}
        </td>   
        <td class="px-6 py-4">{{pedido.precio_total}} €</td>
      </tr>
    </tbody>
</table>
</div>


