/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-notched-outline__notch {
    border-right: none;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    overflow: visible;
}





  