<div class="m-10">
    <div class="overflow-x-auto">
      <table mat-table [dataSource]="dataSource" class="min-w-full table-auto">
      
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left text-sm font-medium text-gray-700"> Numero de Pedido </th>
          <td mat-cell *matCellDef="let element" class="px-6 py-3 text-sm text-gray-900"> {{element.ID}} </td>
        </ng-container>
      
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left text-sm font-medium text-gray-700"> Dirección </th>
          <td mat-cell *matCellDef="let element" class="px-6 py-3 text-sm text-gray-900"> {{element.direccion}} </td>
        </ng-container>
      
        <ng-container matColumnDef="poblacion">
          <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left text-sm font-medium text-gray-700"> Población </th>
          <td mat-cell *matCellDef="let element" class="px-6 py-3 text-sm text-gray-900"> {{element.poblacion}} </td>
        </ng-container>
      
        <ng-container matColumnDef="codigo_postal">
          <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left text-sm font-medium text-gray-700"> Código Postal </th>
          <td mat-cell *matCellDef="let element" class="px-6 py-3 text-sm text-gray-900"> {{element.codigo_postal}} </td>
        </ng-container>
    
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left text-sm font-medium text-gray-700"> Estado </th>
          <td mat-cell *matCellDef="let element" class="px-6 py-3 text-sm text-gray-900"> {{element.estado}} </td>
        </ng-container>
    
        <ng-container matColumnDef="precio_total">
          <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left text-sm font-medium text-gray-700"> Precio Total </th>
          <td mat-cell *matCellDef="let element" class="px-6 py-3 text-sm text-gray-900"> {{element.precio_total}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-100"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'pagado': row.estado === 'pagado'}" class="border-b"></tr>
      </table>
    </div>
    
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements"
                   class="mt-4"></mat-paginator>
  </div>
  