<div class="flex items-center justify-center overflow-hidden p-6 bg-gray-50 min-h-screen">
    <div class="w-full md:w-4/5 lg:w-3/5 xl:w-1/2 bg-white rounded-2xl shadow-lg p-8 border border-gray-200">

      <div class="mb-8 text-center">
        <h1 class="text-2xl font-bold text-azul">{{'perfil-usuario' | translate}}</h1>
      </div>

      <form [formGroup]="formUsuario" (ngSubmit)="actualizarDatosUsuario()" class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2">
          <mat-form-field class="w-full" appearance="outline" hideRequiredMarker>
              <mat-label class="bg-white p-1">{{'Nombre' | translate}}</mat-label>
              <input type="text" matInput formControlName="nombre">
              <mat-error *ngIf="controlarErrores('nombre', 'required')">{{'introduce-tu' | translate}} <strong>{{'nombre' | translate}}</strong></mat-error>
              <mat-error *ngIf="controlarErrores('nombre','minlength') && !controlarErrores('nombre','pattern')">{{'nombre-debe' | translate}} <strong>{{'tres-o-mas' | translate}}</strong></mat-error>
              <mat-error *ngIf="controlarErrores('nombre','maxlength') && !controlarErrores('nombre','pattern')">{{'nombre-supera' | translate}} <strong>{{'maximo-caracteres'  | translate}}</strong></mat-error>
              <mat-error *ngIf="controlarErrores('nombre','pattern') && (!controlarErrores('nombre','minlength') || !controlarErrores('nombre','maxlength'))">{{'nombre-no-puede-contener' | translate}} <strong>{{'numeros-caracteres' | translate}}</strong></mat-error>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" hideRequiredMarker>
            <mat-label class="bg-white p-1">{{'Correo-Electronico' | translate}}</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="controlarErrores('email', 'required')">{{'introduce-una-direccion' | translate}} <strong>{{'correo-electronico' | translate}}</strong></mat-error>
            <mat-error *ngIf="controlarErrores('email','email')">{{'direccion-correo' | translate}} <strong>{{'no-valida' | translate}}</strong></mat-error>
          </mat-form-field>


<!-- Nuevo campo para cargar el Avatar -->
<div class="md:col-span-2 flex flex-col items-center gap-2">
  <label class="text-sm font-semibold text-gray-700">{{ 'Avatar' | translate }}</label>
  
  <label
    for="avatarInput"
    class="cursor-pointer flex items-center justify-center w-36 h-36 rounded-full border-2 border-dashed border-gray-300 hover:border-azul transition duration-200 bg-gray-50 overflow-hidden"
  >
  <img *ngIf="usuario.avatar" src="data:image/jpeg;base64,{{usuario.avatar}}" alt="Imagen">
    <ng-container *ngIf="imagenSeleccionada; else placeholderAvatar">
      <img
        [src]="imagenSeleccionada"
        alt="Avatar"
        class="w-full h-full object-cover rounded-full"
      />
    </ng-container>
    <ng-template #placeholderAvatar>
      <svg
        class="w-10 h-10 text-gray-400"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5.121 17.804A9.004 9.004 0 0112 3a9.004 9.004 0 016.879 14.804M15 11a3 3 0 11-6 0 3 3 0 016 0zm2 6H7a5 5 0 0110 0z"/>
      </svg>
    </ng-template>
  </label>

  <input
    id="avatarInput"
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    class="hidden"
  />
  <span class="text-xs text-gray-500 italic">{{ 'selecciona-una-imagen' | translate }}</span>
</div>

          <div class="md:col-span-2">
            <div *ngIf="mostrarErrorRegistro">
              <nz-alert nzType="error" nzCloseable (nzOnClose)="cerrarAlerta()" nzMessage="{{'err-ru' | translate}}" nzDescription="{{'text-err-ru' | translate}}" nzShowIcon></nz-alert>
            </div>
  
            <div *ngIf="mostrarUsuarioActualizado">
              <nz-alert nzType="success" nzCloseable (nzOnClose)="cerrarAlerta()" nzMessage="{{'usuario-actualizado' | translate}}" nzDescription="{{'text-usuario-actualizado' | translate}}" nzShowIcon></nz-alert>
            </div>
          </div>

        <div class="md:col-span-2 flex justify-center">
          <button type="submit" [disabled]="!formUsuario.valid" class="bg-azul text-white px-6 py-2 rounded-full shadow">
            {{'actualizar-usuario' | translate}}
          </button>
        </div>
      </form>
      
      <div class="my-8 text-center">
        <h1 class="text-2xl font-bold text-azul">{{'direccion-envio' | translate}}</h1>
      </div>

      <form [formGroup]="formAficionado" (ngSubmit)="actualizarDatosAficionado()" class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2">
          <mat-form-field class="w-full" appearance="outline" hideRequiredMarker>
              <mat-label class="bg-white p-1">{{'telefono' | translate}}</mat-label>
              <input type="text" matInput [(ngModel)]="aficionado.telefono" formControlName="telefono">
              <mat-error *ngIf="controlarErroresAficionado('telefono', 'required')">{{'introduce-tu' | translate}} <strong>{{'telefono-form' | translate}}</strong></mat-error>
              <mat-error *ngIf="controlarErroresAficionado('telefono', 'minlength') && !controlarErroresAficionado('telefono','pattern')"><strong>{{'formato-incorrecto' | translate}}</strong></mat-error>
              <mat-error *ngIf="controlarErroresAficionado('telefono', 'maxlength') && !controlarErroresAficionado('telefono','pattern')"><strong>{{'formato-incorrecto' | translate}}</strong></mat-error>
              <mat-error *ngIf="controlarErroresAficionado('telefono', 'pattern') && (!controlarErroresAficionado('telefono','minlength') || !controlarErroresAficionado('telefono','maxlength'))">{{'introduce' | translate}} <strong>{{'solo-numeros' | translate}}</strong></mat-error>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" hideRequiredMarker>
            <mat-label class="bg-white p-1">{{'direccion' | translate}}</mat-label>
            <input type="text" [(ngModel)]="aficionado.direccion"  matInput formControlName="direccion">
            <mat-error *ngIf="controlarErroresAficionado('direccion', 'required')">{{'introduce-tu' | translate}} <strong>{{'direccion-form' | translate}}</strong></mat-error>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" hideRequiredMarker>
            <mat-label class="bg-white p-1">{{'poblacion' | translate}}</mat-label>
            <input type="text" [(ngModel)]="aficionado.poblacion"  matInput formControlName="poblacion">
            <mat-error *ngIf="controlarErroresAficionado('poblacion', 'required')">{{'introduce-tu' | translate}} <strong>{{'poblacion-form' | translate}}</strong></mat-error>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline" hideRequiredMarker>
            <mat-label class="bg-white p-1">{{'codigo-postal' | translate}}</mat-label>
            <input type="text" [(ngModel)]="aficionado.codigo_postal"  matInput formControlName="codigoPostal">
            <mat-error *ngIf="controlarErroresAficionado('codigoPostal', 'required')">{{'introduce-tu' | translate}} <strong>{{'codigo-postal-form' | translate}}</strong></mat-error>
            <mat-error *ngIf="controlarErroresAficionado('codigoPostal', 'minlength') && !controlarErroresAficionado('codigoPostal','pattern')"><strong>{{'formato-incorrecto' | translate}}</strong></mat-error>
            <mat-error *ngIf="controlarErroresAficionado('codigoPostal', 'maxlength') && !controlarErroresAficionado('codigoPostal','pattern')"><strong>{{'formato-incorrecto' | translate}}</strong></mat-error>
            <mat-error *ngIf="controlarErroresAficionado('codigoPostal', 'pattern') && (!controlarErroresAficionado('codigoPostal','minlength') || !controlarErroresAficionado('codigoPostal','maxlength'))">{{'introduce' | translate}} <strong>{{'solo-numeros' | translate}}</strong></mat-error>
          </mat-form-field>

          <div class="md:col-span-2">
            <div *ngIf="mostrarErrorAficionado">
              <nz-alert nzType="error" nzCloseable (nzOnClose)="cerrarAlerta()" nzMessage="{{'error-aficionado' | translate}}" nzDescription="{{'text-error-aficionado' | translate}}" nzShowIcon></nz-alert>
            </div>
  
            <div *ngIf="mostrarAficionadoActualizado">
              <nz-alert nzType="success" nzCloseable (nzOnClose)="cerrarAlerta()" nzMessage="{{'aficionado-actualizado' | translate}}" nzDescription="{{'text-aficionado-actualizado' | translate}}" nzShowIcon></nz-alert>
            </div>
          </div>

        <div class="md:col-span-2 flex justify-center">
          <button type="submit" [disabled]="!formAficionado.valid" class="bg-azul text-white px-6 py-2 rounded-full shadow">
            {{'actualizar-direccion' | translate}}
          </button>
        </div>

      </form>
    </div>
  </div>
  