<div *ngIf="mostrarBarraNav">
    <header class="flex flex-col md:flex-row-reverse items-center justify-between p-4 gap-4">
        <div class="w-full md:w-auto flex justify-center md:justify-start">
            <nav>
                <ul class="flex items-center space-x-4">
                    <li>
                        <a routerLink="inicioSesion" class="btnInicioSesion flex items-center space-x-2">
                            <mat-icon fontIcon="person_outline"></mat-icon>
                            <span>{{'iniciar-sesion' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="w-full md:w-auto flex justify-center md:justify-end">
            <button (click)="cambiarIdioma()" class="btnInicioSesion flex items-center space-x-2"><mat-icon fontIcon="location_on"></mat-icon>{{'cambiar-idioma' | translate}}</button>
        </div>
    </header>
</div>

